<!-- <div class="text-center">
        <h1 class=""><a href="/profile">Title</a></h1>
        <span>Byline</span>
      </div> -->

      <!-- <nav class="navbar fixed-bottom navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Fixed bottom</a>
          </div>
        </nav> -->

    <!-- <footer class="pt-5 d-flex flex-column align-items-center mt-auto text-center ">
      <p>Created by <a href="" class="text-black accent-1">Kriston Burnstein</a></p>
    </footer> -->
    <div class="mt-auto">
    <footer class="d-flex flex-column p-4 mt-5 border-top">
      <div class="container d-lg-flex justify-content-between">
        <div>
          <span class="logo"><a href="/feed">Parkside Paradise Virtual Walks</a></span>
        </div>
        <div class="copyright">
          <p>&copy2023 All rights reserved <a href="https://kristonburnstein.com/" target="_blank">Kriston Burnstein</a></p>
        </div>
        <div>
          <ul class="d-flex gap-4 list-unstyled">
            <li><a href="https://www.linkedin.com/in/kriston-burnstein/" target="_blank"><i class="fa-lg bi bi-linkedin"></i></a></li>
            <li><a href="https://github.com/kriston-burnstein" target="_blank"><i class="fa-lg bi bi-github"></i></a></li>
            <li><a href="https://twitter.com/kriston_dev" target="_blank"><i class="fa-lg bi bi-twitter"></i></a></li>
            <li><a href="https://discordapp.com/users/587309931816812544" target="_blank"><i class="fa-lg bi bi-discord"></i></a></li>
            <li><a href="https://www.youtube.com/@kristonburnstein" target="_blank"><i class="fa-lg bi bi-youtube"></i></a></li>         
            <li><a href="https://kristonburnstein.com/" target="_blank"><i class="fa-lg bi bi-envelope-fill"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
    </div>      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>

