<!-- <div class="text-center">
        <h1 class=""><a href="/profile">Title</a></h1>
        <span>Byline</span>
      </div> -->

      <!-- <nav class="navbar fixed-bottom navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Fixed bottom</a>
          </div>
        </nav> -->

    <!-- <footer class="pt-5 d-flex flex-column align-items-center mt-auto text-center ">
      <p>Created by <a href="" class="text-black accent-1">Kriston Burnstein</a></p>
    </footer> -->
    
    <footer class="d-flex flex-column p-5 mt-auto">
      <div class="d-lg-flex justify-content-between">
        <div>
          <span class="logo">Parkside Virtual Walks</span>
        </div>
        <div class="copyright">
          <p>Developed and maintained by <a href="https://kristonburnstein.com/" target="_blank">Kriston Burnstein</a></p>
        </div>
        <div>
          <ul class="d-flex gap-3 list-unstyled">
            <li><a href="https://www.linkedin.com/in/kriston-burnstein/" target="_blank"><i class="fa-lg bi bi-linkedin"></i></a></li>
            <li><a href="https://github.com/kriston-burnstein" target="_blank"><i class="fa-lg bi bi-github"></i></a></li>
            <li><a href="https://twitter.com/kriston_dev" target="_blank"><i class="fa-lg bi bi-twitter"></i></a></li>
            <li><a href="https://kristonburnstein.com/" target="_blank"><i class="fa-lg bi bi-envelope-fill"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>

      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>    -->
  </body>
</html>

