<%- include('partials/header') -%>

  <!-- Remove id, width issue related to an extra outside div possibly, check and remove but don't lose row-reverse on first container-->

  <div id="bg-image-index" class="container col-xxl-8 px-1 py-4 card-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/sequoia2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Choose Your <span class="accent-1">Walk</span></h1>
        <p class="lead">Find walks as a guest by terrian or see all walks in our database. We're currently featuring US National Parks and will be adding new parks regularly. You can customize your experience and add your add own walks as well by creating an account below.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          
          <!-- <a href="/signup" type="button" class="btn btn-primary rounded-pill shadow-none btn-lg cap-btn">
            By Terrain
          </a> -->

          <div class="dropdown">
            <a class="btn btn-primary rounded-pill shadow-none btn-lg cap-btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              By Terrain
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/beach">Beach</a>
              <a class="dropdown-item" href="/desert">Desert</a>
              <a class="dropdown-item" href="/forest">Forest</a>
              <a class="dropdown-item" href="/mountain">Mountain</a>
              <a class="dropdown-item" href="/river-lake">River/Lake</a>
              <a class="dropdown-item" href="/winter">Snow/Ice</a>
            </div>
          </div>

          <a href="/signup" type="button" class="btn btn-primary rounded-pill shadow-none btn-lg cap-btn">
            All Walks
          </a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Test Button</button> -->
        </div>
      </div>
    </div>
  </div>

    
  <div id="bg-image-index" class="container col-xxl-8 px-1 py-4 card-container">
    <div class="row flex-lg align-items-center g-5 py-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/imgs/sequoia2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Your Walks 
          <span class="accent-1">Collection</span></h1>
        <p class="lead">You can create a profile to save your favorite walks to revisit them again and again! You can also upload your own walks to curate a custom experience with familiar paths!
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn btn-primary rounded-pill shadow-none cap-btn btn-lg">
            Create a Profile
          </a>
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Test Button</button> -->
        </div>
      </div>     
    </div>
  </div>

<%- include('partials/footer') -%>
