<%- include('partials/header') -%>

  <!-- Remove id, width issue related to an extra outside div possibly, check and remove but don't lose row-reverse on first and last container-->

  <div id="bg-image-index" class="container px-1 py-4 card-container main">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://res.cloudinary.com/dogooderdev/image/upload/v1690206890/vhnuryyvfvnlptphgnoc.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Immersive <span class="accent-1">Walks</span></h1>
        <p class="lead">Welcome to Parkside Paradise Virtual Walks. We've curated for you the highest quality collection of relaxing and immersive virtual walks in US National Parks created by the most accomplished YouTube guides and influencers. Here you are invited to relax, unwind, and experience the splendor of some of the US's most mesmerizing landscapes.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn btn-primary rounded-pill shadow-none btn-lg cap-btn">
            Explore Now
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="bg-image-index" class="container px-1 py-4 card-container">
    <div class="row flex-lg align-items-center g-5 py-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://res.cloudinary.com/dogooderdev/image/upload/v1690207687/fgp996x0jjsfvno0gety.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Your Walks 
          <span class="accent-1">Collection</span></h1>
        <p class="lead">You can create a profile to like and save your favorite walks and revisit them again and again. You can also customize your experience with familiar and favorite paths by uploading your own walks, which others can then also enjoy. 
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/signup" type="button" class="btn btn-primary rounded-pill shadow-none cap-btn btn-lg">
            Create a Profile
          </a>
        </div>
      </div>     
    </div>
  </div>

  <div id="bg-image-index" class="container px-1 py-4 card-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://res.cloudinary.com/dogooderdev/image/upload/v1690207689/kektrstwm0apuvma6cgt.webp" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Upcoming  
          <span class="accent-1">Features</span></h1>
        <p class="lead">Coming soon, you'll be able to find walks by terrian, state, and other criteria such as if your guide is speaking or if your walk will exclusively consist of the sounds of nature. We're currently featuring US National Parks and will be adding new parks regularly.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/login" type="button" class="btn btn-primary rounded-pill shadow-none cap-btn btn-lg">
            Log in
          </a>
          <a href="/signup" type="button" class="btn btn-primary rounded-pill shadow-none cap-btn btn-lg">
            Sign up
          </a>
        </div>
      </div>     
    </div>
  </div>

<%- include('partials/footer') -%>
